// Define variables for your color scheme



// For example:
$red: #FD1015;
$blue: #003d1e;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #003d1e;
$gray: #0E0000;
$light-gray: #F4F4F4;

$white-smoke: #F5F5F5;
$timberwolf: #D6D4D8;
$tea-green: hsl(124, 27%, 80%);
$mid-green: hsl(131, 26%, 48%);
$dark-green: hsl(150, 100%, 12%);
$british-racing-green: hsl(150, 100%, 12%);
$light-purple: hsl(304, 27%, 80%);
$mid-purple: hsl(311, 26%, 48%);
$dark-purple: hsl(330, 100%, 12%);
