a {
  text-decoration: none !important;
  color: #2B061E !important;
  &:hover {
    color: #2B061E;
  }
}

body {
  background-color: lightgrey;
}

.btn-floating {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-evenly !important;
  align-items: center;
  background-color: none !important;
  border-radius: 5px;
  padding: 2px 12px !important;
  border: none !important;
  transition: 0.3s;

  &:hover {
    text-decoration: none !important;
    transform: scale(1.3);

  }
  a {
    text-decoration: none !important;
    color: black;
  }
}

.btn {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-content: normal;
  padding-bottom: 15px;
  justify-content: space-evenly !important;
  align-items: center;
  font-size: 16px;
  margin: 10px;
  text-decoration: none !important;
  border-color: rgb(43, 6, 30) !important;
  text-decoration: none !important;
  color: white !important;
  border-radius: 10px;
  background-color: $tea-green !important;
  transition: 0.3s;
  border: 1px solid black;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.02);
    box-shadow: 0px 0px 5px 2px $light-purple;
  }
  a {
    text-decoration: none !important;
    color: black;
  }
}

.btn-icons {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-content: normal;
  padding-bottom: 5px;
  justify-content: space-evenly !important;
  align-items: center;
  font-size: 12px;
  margin: 10px;
  text-decoration: none !important;
  color: white !important;
  border-radius: 10px;
  transition: 0.3s;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.05);
  }
  a {
    text-decoration: none !important;
    color: black;
  }
}


.btn-small {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-content: normal;
  padding-bottom: 15px;
  justify-content: space-evenly !important;
  align-items: center;
  font-size: 16px;
  margin: 10px;
  text-decoration: none !important;
  border-color: rgb(43, 6, 30) !important;
  text-decoration: none !important;
  color: black !important;
  border-radius: 10px;
  background-color: $light-purple !important;
  transition: 0.3s;
  border: 1px solid black;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.02);
    box-shadow: 0px 0px 5px 2px $light-purple;
  }
  a {
    text-decoration: none !important;
    color: black;
  }
}

.btn-profile {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-content: normal;
  padding-bottom: 15px;
  justify-content: space-evenly !important;
  align-items: center;
  font-size: 16px;
  margin: 10px;
  text-decoration: none !important;
  border-color: rgb(43, 6, 30) !important;
  text-decoration: none !important;
  color: white !important;
  border-radius: 10px;
  background-color: $tea-green !important;
  transition: 0.3s;
  border: 1px solid black;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.02);
    box-shadow: 0px 0px 5px 2px $light-purple;
  }
  a {
    text-decoration: none !important;
    color: black;
  }
}

.btn-icon {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-evenly !important;
  align-items: center;
  padding: 0 !important;
  transition: 0.3s;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.02);
    box-shadow: 0px 0px 5px 2px $light-purple;
  }
}

.btn-stall {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-evenly !important;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  margin: 10px;
  text-decoration: none !important;
  width: 115px;
  height: 40px;
  text-decoration: none !important;
  color: $timberwolf !important;
  border-radius: 8px;
  background-color: $dark-purple !important;
  transition: 0.3s;
  border: 1px solid black;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.02);
    box-shadow: 0px 0px 5px 2px $light-purple;
  }
  a {
    text-decoration: none !important;
    color: black;
  }
}

.btn-calendar {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-evenly !important;
  align-items: center;
  font-weight: bolder;
  font-size: 10px;
  margin: 10px;
  text-decoration: none !important;
  width: 115px;
  height: 40px;
  text-decoration: none !important;
  color: $timberwolf !important;
  border-radius: 10px;
  background-color: $dark-green !important;
  transition: 0.3s;
  border: 1px solid black;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.02);
    box-shadow: 0px 0px 5px 2px $timberwolf;
  }
  a {
    text-decoration: none !important;
    color: black;
  }
}


.btn-month {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-evenly !important;
  align-items: center;
  font-weight: bolder;
  font-size: 10px;
  margin: 10px;
  text-decoration: none !important;
  width: 115px;
  height: 40px;
  text-decoration: none !important;
  color: black !important;
  border-radius: 10px;
  background-color: $light-purple !important;
  transition: 0.3s;
  border: 1px solid black;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.02);
    box-shadow: 0px 0px 5px 2px $dark-purple;
  }
  a {
    text-decoration: none !important;
    color: black;
  }
}


.btn-home {
  min-width: 100px;
  font-weight:bolder;
  font-size: 15px;
  background-color: $tea-green !important;
  color: $dark-purple !important;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.02);
    box-shadow: 0px 0px 5px 2px $tea-green;
  }
}


body {
  background-color: rgba(245, 245, 245, 1);
}

.head-banner {
  background: rgb(0,61,30);
  background: radial-gradient(circle, rgba(0,61,30,1) 0%, rgba(0,61,30,1) 50%, rgba(0,0,0,0.5327380952380952) 100%);
  height: 400px !important;
  p {
    color: rgba(245, 245, 245, 1);
  }
  h2 {
    color: rgba(245, 245, 245, 1);
  }
}

.split-header {
  background-color: rgba(189, 217, 191, 0.5)
}

.headcontainer {
  position: relative;
  text-align: center;
  color: #F5F5F5;
  img {
    max-height: 590px;
  }
}

.headcontainer {
  position: relative;
  text-align: center;
  color: #F5F5F5;
  img {
    max-height: 590px;
  }
}

#market {
  background-image: image-url("landing-2.jpg");
  background-size: cover;
  background-position: 50% 90%;
  min-width: 100%;
  min-height: calc(100vh - 60px);
  opacity: 1;
}

.centered {
  position: absolute;
  // border-radius: 10px;
  flex-direction: column;
  width: 75%;
  height: 45%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #002914;
  opacity: 100%;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(19, 64, 29, 0.2);
  backdrop-filter: blur(4px);

  h2 {
    font-size: 50px;
  }
}

.form-control {
  width: 94% !important;
  display: inline !important;
  margin: 5px;
  margin-right: 10px;
  flex-direction: column;
  align-items: center;
}

.home-form {
  height: 20%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

// .card {
//   border-radius: 10px;
// }

.card {
  transition: 0.2s;
  padding: 0;
    &:hover {
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
      transform: scale(1.02);
      cursor: pointer;
  }
}

.card-pop {
  transition: none !important;
  padding: 0;
    &:hover {
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1) !important;
      transform: none !important;
      cursor: pointer;
  }

  .card-title {
    background-color: $dark-green !important;
  }
  .card-footer-popup {
    background-color: $dark-green !important;
  }
}

.card-body {
  background-color: whitesmoke;
  min-height: 200px;
}

.card-footer-icon {
  background-color: $dark-green !important;
  color: $tea-green !important;
}

// body > div.container-fluid.pt-3 > div > div.col-sm-12.col-md-4.col-lg-4.col-xl-4.split-address-header > div.text-center.my-3.mb-4 > ul > {
//   font-family: $headers-font;
// }

.index-card {
  height: 520px !important;
  width: 320px;
  transition: 0.2s;
  padding: 0;

  &:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    cursor: pointer;
  }

  h5 {
    font-size: 22px;
    font-weight: bold;
  }
  p {
    font-size: 15px;
  }

  body {
    min-height: 200px;
  }
}

.index-card .card-img-top {
  height: 250px;
  // border-top-left-radius: 3%;
  // border-top-right-radius: 3%;
}

.index-card .card-body {
  height: 130px;
}





.footer {
 position: sticky;
}

.home-form-field {
  display: flex;
  justify-content: center;

  .form-control {
    width: 350px !important;
  }

}

.table thead {
    background-color: $dark-green;
    color: $timberwolf;
  }

  // .list-group-flush {
  //   li {
  //     background-color: $tea-green;
  //   }
  //   background-color: $tea-green;
  // }
  .filter-labels {
    input[type=checkbox] {
      display: none;
    }


    .check-filter + label {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 0.25rem;
      width: 2rem;
      height: 2rem;

      /* background-image: url("checked.png"); */
    }

    .check-filter:checked + label {
      border: solid 2px $tea-green;
      border-radius: 2px;
      /* background-image: url("checked.png"); */
    }

  }
