
// Head Section
.split-header {
  // border: 1px solid black;
  display: -ms-inline-flexbox;
  flex-flow: wrap;
  padding: 0;
}

.cover {
  // object-fit: cover;
  width: 100%

}

.contain {
  object-fit: contain;
  max-height: 350px;
  min-width: 250px;
}

.market-image {
  max-height: 300px;
}

.home-review {
  // border: 1px solid black;
}

.products {
  // border: 1px solid black;
}


// Review Section
.review-section {
  // border: 1px solid black;
}

.show-review {
  // border: 1px solid black;
}

// .show-products {
//   max-width: 150px;
// }

.show-product {
  // border: 1px solid black;
}


// Map Section
.map-header {
  // border: 1px solid black;
}

.split-map-header {
  width: 50%;
}

.split-address-header {
  width: 50% !important;
  display: flex;
  flex-flow: column;
  justify-content: center!important;
}

.social {
  // border: 1px solid black;
}

.index-card {
  height: 300px !important;
}

.carousel-img {
  width: 19%;
  max-height: 200px;
}
.check-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection_check_boxes {
  margin-left: 5px;
}

.market-icon {
  align-content: center;
}

.market-icons {
  margin-bottom: 75px;
}

.icon-header {
  font-size: 20px;
}
