
// Head Section
.split-header {
  display: -ms-inline-flexbox;
  flex-flow: wrap;
  padding: 0;
}

.cover {
  // object-fit: cover;
  width: 100%
}

.contain {
  object-fit: contain;
  max-height: 350px;
  min-width: 250px;
}

.market-image {
  max-height: 300px;
}

.split-map-header {
  width: 50%;
}

.split-address-header {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  width: 150%;
}


button, input, optgroup, select, textarea {
  margin-left: 8px !important;
}

.carousel-img {
  width: 19%;
  max-height: 200px;
}

// .carousel-img.stall-img {
//   width: 60%;
//   max-height: 300px;
//   object-fit: cover;
// }



.checks {
  margin-top: 0;
  display: flex!important;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.check-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.modal-check-inputs{
  display: inline;
  // flex-direction: row;
}

.modal {
  border-radius: 15px;
  border: 2px solid rbgb(43, 6, 30);
}

.modal-header {
  background-color: rgb(0,61,30); ;
  color:rgba(245, 245, 245, 1); ;
}

.modal-body {
  background-color: rgba(189, 217, 191, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;

}

.collection_check_boxes {
  margin-left: 5px;
}

.market-icon {
  align-content: center;
}

.market-icons {
  margin-bottom: 75px;
}

.icon-header {
  font-size: 20px;
}

.market-index {
  display: flex;
  flex-wrap: wrap;
}

.head-banner-market {
  background: rgb(0,61,30);
  background: radial-gradient(circle, rgba(0,61,30,1) 0%, rgba(0,61,30,1) 50%, rgba(0,0,0,0.5327380952380952) 100%);
  min-height: 200px !important;
  p {
    color: rgba(245, 245, 245, 1);
  }
  h2 {
    color: rgba(245, 245, 245, 1);
  }
}

.filter-labels {
  margin-top: 4%;
  display: -ms-flexbox!important;
  display: flex!important;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: center;
  input {
    margin-left: 0;
  }
}

.filter-buttons {
  display: inline-flex;
}

.market-show {
  display: flex!important;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.market-show-left {
  margin-left: 0;
}
