// .list-group-item {
//   max-height: 250px;
//   width: 250px;

// }

// .list-group {
//   display: flex!important;
//   flex-wrap: wrap;
//   align-content: space-between;
//   justify-content: center;
//   flex-direction: column !important;
//   align-items: center;
// }

.head-banner {
  background: rgb(0,61,30);
  background: radial-gradient(circle, rgba(0,61,30,1) 0%, rgba(0,61,30,1) 50%, rgba(0,0,0,0.5327380952380952) 100%);
  height: 400px !important;
  p {
    color: rgba(245, 245, 245, 1);
  }
  h2 {
    color: rgba(245, 245, 245, 1);
  }
  // color: rgba(0, 61, 30, 0.1);
}

.split-header {
  background-color: rgba(189, 217, 191, 0.5)
}

.home-card {
  min-width: 30%;
  border: 1px solid black;
}

.card-img-top {
  height: 200px;
}

.show-card {
  height: 400px;
}


#nav-profile {
  min-width: 30%;
  border: 1px solid black;
  flex-flow: column !important;
}


.card-body#myprofile {
  position: relative;
  min-height: 150px !important;
}

.profile-calendar {
  margin-top: 60% !important;
}

.simple-calendar {
  margin-top: 15%;
}

.tab-content {
  justify-content: center;
}
