.head-banner {
  background: rgb(0,61,30);
  background: radial-gradient(circle, rgba(0,61,30,1) 0%, rgba(0,61,30,1) 50%, rgba(0,0,0,0.5327380952380952) 100%);
  height: 400px !important;
  p {
    color: rgba(245, 245, 245, 1);
  }
  h2 {
    color: rgba(245, 245, 245, 1);
  }
}


.split-header {
  background-color: rgba(189, 217, 191, 0.5)
}

.nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link {
  background-color: $dark-green !important;
  margin-top: 10px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: $light-purple !important;
  margin-top: 10px;
}

.tab-content {
  overflow: auto;
  height: 525px;
}

// .trip-tabs {
//   display: flex;
// }

.home-card {
  z-index: 1;
  width: 263px;
  // margin-top: 10px;
  // border-radius: 10px;
  border: 0.5px solid rgba(0,61,30,0.3);
  // border-top-left-radius: 5px !important;
  // border-top-right-radius: 5px !important;
  .card-footer {
    background-color: $dark-green;
    color: $timberwolf !important;
  }
}

.home-card-img {
  height: 200px !important;
  width: 262px;
  object-fit: cover;
  // border-top-left-radius: 5px !important;
  // border-top-right-radius: 5px !important;
}


.home-card.card-img-top {
  height: 225px;
  width: 200px;
  object-fit: fill;
  // border-top-left-radius: 5px !important;
  // border-top-right-radius: 5px !important;
}



.home-card .card-body {
  min-height: 225px !important;
}


.show-card {
  max-height: 400px;
  width: 260px;
  transition: 0.3s;

  .card-img-top {
    height: 250px;
    object-fit: cover;
  }

  .card-body {
    height: 130px;
  }

  .show-card-img {
    height: 200px !important;
    width: 260px;
    object-fit: cover;
    // border-top-left-radius: 5px !important;
    // border-top-right-radius: 5px !important;
  }

  h5 {
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }

  &:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    cursor: pointer;
  }
}



#nav-profile {
  min-width: 30%;
  flex-flow: column !important;
}


.tab-content {
  justify-content: center;
}

.friends {
  display: flex;
  border-bottom: 1px solid grey;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.fa-laptop {
  padding: 0 10px !important;
}
