// .list-group-item {
//   max-height: 250px;
//   width: 250px;

// }

// .list-group {
//   display: flex!important;
//   flex-wrap: wrap;
//   align-content: space-between;
//   justify-content: center;
//   flex-direction: column !important;
//   align-items: center;
// }

.home-card {
  min-width: 30%;
  border: 1px solid black;
}

#nav-profile {
  min-width: 30%;
  border: 1px solid black;
  flex-flow: column !important;
}

.card-footer {
  // position: absolute;
  // margin-bottom: 0%;
  // vertical-align: bottom;
  // bottom: 0px;
  // margin-top: 20%;
  // margin-bottom: 0%;

}

.card-body {
  position: relative;
  min-height: 100px !important;
}

.profile-calendar {
  margin-top: 150px;
}

.simple-calendar {
  margin-top: 200px;
}

.tab-content {
  justify-content: center;
}
