.home-tabs {
  background-color: rgba(189, 217, 191, 0.5);
  min-height: 600px;
  margin-bottom: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: rgba(245, 245, 245, 1);
  .tab-pane {
    height: 500px;
  }
}

#navContact {
  background-color: rgba(0,61,30,1);

  color: rgba(43, 6, 30, 1);
}

// .tab-pane {
//   background-color: rgba(189, 217, 191, 0.5);
// }

.nav-tabs .nav-link {
  background-color: rgba(0,61,30,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav-link {
  text-decoration: none !important;
  color: white;
  &:hover {
    color: rgba(189, 217, 191, 0.5);
  }
}
