
// Head Section
.split-header {
  border: 1px solid black;
}

.home-review {
  border: 1px solid black;
}

.products {
  border: 1px solid black;
}


// Review Section
.review-section {
  border: 1px solid black;
}

.show-review {
  border: 1px solid black;
}

// .show-products {
//   border: 1px solid black;
// }

.show-product {
  border: 1px solid black;
}


// Map Section
.map-header {
  border: 1px solid black;
}

.split-map-header {
  border: 1px solid black;
}

.split-address-header {
  border: 1px solid black;
}

.social {
  border: 1px solid black;
}
