
.simple_form.new_review {
  display: table-caption;
  width: 180%;
}

.review-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: center;
  align-items: normal;
  }

.show-review {
  background-color: #BDD9BF;
  color: #2B061E;
  border-radius: 10px;
  transition: 0.2s;
  padding: 0;
    &:hover {
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
      transform: scale(1.02);
      cursor: pointer;
  }
}

.show-product {
  background-color: #F5F5F5;
  border-radius: 10px;
  transition: 0.2s;
  padding: 0;
    &:hover {
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
      transform: scale(1.02);
      cursor: pointer;
  }
}

.stall-carousel {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(189, 217, 191, 0.5);
}


.split-address-header {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.show-card .card-img-top {
  max-height: 225px;
  object-fit: cover;
}

.index-card .card-img-top {
  min-height: 225px;
}
