.simple_form.new_review {
  display: table-caption;
  width: 250%;
}

.review-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: center;
  align-items: normal;
  }

.review-btn {
  position: relative !important;
  top: -30px !important;
  right: -10px !important;
  padding: 0 !important;
  color: white !important;

  transition: 0.3s;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.01);
  }
  a {
    text-decoration: none !important;
    color: black;
  }
}

.chatroom {
  h2 {
    // background-color: $tea-green;
  }
}
.review-head {
  // background-color: $tea-green;
  margin-top: 9px;
}

#new_review > div.mb-3.integer.required.review_rating > label {
  padding-right: 30px !important;
}

.show-review {
  transition: none !important;
  display: flex;
  background-color: $dark-purple;
  color: white;
  // border-radius: 10px;

  padding: 10%;
  align-items: center;
  justify-content: space-between;

  h5 {
    font-size : 20px;
  }

  h4 {
    font-size: 15px;
  }

  p {
    font-size : 15px;
  }

    &:hover {
      transform: none !important;
  }
}

.show-product {
  background-color: rgba(78, 75, 81, 0.4);
  color: $timberwolf;
  // border-radius: 10px;
  z-index: 1;
  margin-left: 3rem !important;
  margin-right: 3rem !important;
  width: 160%;
    &:hover {
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  }
}

.stall-carousel {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(189, 217, 191, 0.5);
}




.head-banner-stall {
  display: flex;
  justify-content: space-around !important;
  background: hsl(330, 100%, 12%);
  background: radial-gradient(circle, hsl(330, 100%, 12%) 0%, hsl(330, 100%, 12%)50%, rgba(0,0,0,0.5327380952380952) 100%);
  min-height: 200px !important;
  p {
    color: rgba(245, 245, 245, 1);
  }
  h2 {
    color: rgba(245, 245, 245, 1);
  }
}

.stall-list {
  display: flex!important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  li {
    list-style: none;
  }

}

.buddy-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: $light-purple;
}



.carousel-control-prev-icon {
  background-color: $light-purple !important;
}

.carousel-control-next-icon {
  background-color: $light-purple !important;
}

// #trip_user_ids-ts-control {
//   width: 287px;
// }

.ts-control > input {
  flex: 1 1 auto;
  min-width: 12.5rem !important;
}

textarea.form-control {
  min-width: 12.5rem !important;
}
