
<div class="flex-inline mt-5 p-3 buddy-form">
  <h5 class="align-center ml-1">Become Friends</h5>
  <%= simple_form_for [@user] do |friend|%>
    <%= friend.submit "Invite", class: "ml-4 btn btn-stall w-80 bold mt-0" %>
  <% end %>
</div>
