
<div class="flex-inline mt-5 p-3 buddy-form">
  <h3 class="align-center">Trip Buddy</h3>
  <%= simple_form_for [@user] do |friend|%>
    <%= friend.submit "Invite", class: "btn btn-stall w-80 bold mt-0" %>
  <% end %>
</div>
