<%# TRIP-BUDDDDDDDIES %>
<div class="tab-pane fade text-dark" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
  <% current_user.friends.each do |friend| %>
  <div class="friends">
    <h5 class="pr-5"><%= friend.username %></h5>
    <p>Friends for <%= ((Time.now - friend.created_at) / 60 / 60 / 24 ).ceil %> day<%= ((Time.now - friend.created_at) / 60 / 60 / 24 ).ceil == 1 ? "" : "s" %></p>
  </div>
  <% end %>
</div>
