<%# Footer %>
<footer class="bg-light text-center text-white pt-2 mt-3">
  <!-- Grid container -->
  <div class="container pb-0">
    <!-- Section: Social media -->
    <section class="my-2 d-flex justify-content-center">
      <!-- Facebook -->
      <a
        class="btn btn-btn text-white m-1"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-btn text-white m-1"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-btn text-white m-1"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright: myMarkets
  </div>
  <!-- Copyright -->
</footer>
