<div>
  <% if @stall.reviews %>
    <% @stall.reviews.each do |r| %>
      <div class="show-review p-2 px-3 mx-3 my-3">
          <h5><em><%= r.user.username %></em></h5>

          <div class="review-footer">
            <small><%= r.rating %> <i class="fa-regular fa-star pr-3 pt-1"></i></small>
            <p><%= r.description %></p>
          </div><br>
          <%= link_to "Delete", review_path(r), class: "btn btn-light", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
    <% end %>
  <% end %>
</div>
