
<%# Basic Hero/Jumbo/Header %>
<div class="headcontainer pb-4">
  <img class="img-fluid mx-auto" id="market" src="https://www.sftravel.com/sites/default/files/styles/hero/public/2022-11/farmers-market-tomatoes.jpg.webp?itok=camAgJHT" alt="Botanical Bazaar BG">
  <div class="centered text-center px-5 py-4 d-flex">
      <h2>Welcome to myMarket</h2>
      <p>Plenty of markets to suit your needs</p>
  </div>
</div>


<div class="container-fluid home-header">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header">
      <h1>Some Reviews</h1>
      <p>More Info More Info More Info More Info More Info More Info</p>
      <div class="btn btn-primary">Become a trader</div>
    </div>

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header flex-fill">
        <div class="headcontainer pb-4"></div>
          <img class="img-fluid mx-auto" id="market" src="https://www.sftravel.com/sites/default/files/styles/hero/public/2022-11/farmers-market-tomatoes.jpg.webp?itok=camAgJHT" alt="Botanical Bazaar BG">
        <div class="centered text-center px-5 py-4 d-flex"></div>
    </div>

  </div>
</div>


<div class="container-fluid home-header">
  <div class="row">

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header flex-fill">
        <div class="headcontainer pb-4"></div>
          <img class="img-fluid mx-auto" id="market" src="https://www.sftravel.com/sites/default/files/styles/hero/public/2022-11/farmers-market-tomatoes.jpg.webp?itok=camAgJHT" alt="Botanical Bazaar BG">
        <div class="centered text-center px-5 py-4 d-flex"></div>
    </div>


    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header">
      <h1>Some Reviews</h1>
      <p>More Info More Info More Info More Info More Info More Info</p>
      <div class="btn btn-primary">Become a trader</div>
    </div>

  </div>
</div>


<div class="container-fluid home-header">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header">
      <h1>Some Reviews</h1>
      <p>More Info More Info More Info More Info More Info More Info</p>
      <div class="btn btn-primary">Become a trader</div>
    </div>

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header flex-fill">
        <div class="headcontainer pb-4"></div>
          <img class="img-fluid mx-auto" id="market" src="https://www.sftravel.com/sites/default/files/styles/hero/public/2022-11/farmers-market-tomatoes.jpg.webp?itok=camAgJHT" alt="Botanical Bazaar BG">
        <div class="centered text-center px-5 py-4 d-flex"></div>
    </div>

  </div>
</div>

<%= render "shared/footer-index" %>
