
  <img class="img-fluid mx-auto" id="market" alt="My Markets BG">
  <div class=" centered text-center px-5 py-4 d-flex justify-content-center align-center">
      <div class="banner-text text-white bold">
        <h2 class="landing-text">Want to unlock London's hidden food-gems?<br><span style="font-size: 1.5rem; font-family: 'Cabin'; font-weight: 100 !important; letter-spacing: 0.5px;">Discover the capital's vibrant food markets, plan trips, <br>and indulge in culinary delights with </span><strong style="font-family: 'EB Garamond'; font-size: 2rem; margin: 0; text-align: center;">myMarkets</strong></h2>

      </div>
      <%= form_with url: markets_path, method: :get, class: "text-center pt-2" do |form| %>
        <%= form.text_field :query, value: params[:query], class: "form-control home-form", placeholder: "Enter a keyword or location..." %>
        <%= form.submit "Explore", class: "btn btn-dark btn-home" %>
      <% end %>
  </div>
</div>


<%# <div class="container-fluid home-header">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center my-auto px-5 split-header">
      <div class="split-header mt-3">
        <h4>We at myMarkets love all markets, Some just a little bit more</h4>
        <small><em>Mrs Butterworth</em></small>
        <p>Beautiful food, I'd definitely come back!</p>
      </div>
    </div>


      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header flex-fill">
        <div class="headcontainer"></div>
          <img class="img-fluid mx-auto cover " id="market" src="https://a.cdn-hotels.com/gdcs/production62/d1286/6b53ad20-e42c-11e8-a16b-0242ac110006.jpg" alt="Botanical Bazaar BG">
        <div class="centered d-flex justify-content-center ">
          <div class="btn btn-primary mx-auto">Top Markets</div>
        </div>
      </div>

  </div>
</div>


<div class="container-fluid home-header">
  <div class="row">

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header flex-fill">
        <div class="headcontainer"></div>
          <img class="img-fluid mx-auto cover " id="market" src="https://www.holidify.com/images/cmsuploads/compressed/Borough_Market_cake_stall2C_London2C_England_-_Oct_2008_20200929181545.jpg" alt="Botanical Bazaar BG">

        <div class="centered d-flex justify-content-center ">
          <div class="btn btn-primary mx-auto">Top Traders</div>
        </div>
      </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center my-auto px-5 split-header">
      <div class="split-header mt-3">
      <h4>We at myMarkets love all traders,<br> Some just a little bit more</h4>
      <small><em>Lord ShepherdsPie</em></small>
      <p>Exquisite, mouth watering!</p>
    </div>

  </div>
</div>
</div>

<div class="container-fluid home-header">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center my-auto px-5 split-header">
      <div class="split-header mt-3">
      <h4>We at myMarkets love all our users!<br> Join Us!</h4>
      <small><em>Quincey Adams</em></small>
      <p>myMarkets are the best, saved my marriage</p>
    </div>
    </div>

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header flex-fill">
        <div class="headcontainer"></div>
          <img class="img-fluid mx-auto cover " id="market" src="https://www.cktravels.com/wp-content/uploads/2020/09/DSC00868.jpg" alt="Botanical Bazaar BG">

        <div class="centered d-flex justify-content-center ">
          <div class="btn btn-primary mx-auto">Join Us</div>
        </div>
      </div>

  </div>
</div>

<%= render "shared/footer-index" %>
