
<%# Basic Hero/Jumbo/Header %>
<div class="headcontainer pb-4">
  <img class="img-fluid mx-auto" id="market" src="https://media.cntraveller.com/photos/634d634df774a8ab1b881107/16:9/w_5472,h_3078,c_limit/Borough%20MarketE6BC30.jpeg" alt="Botanical Bazaar BG">
  <div class="centered text-center px-5 py-4 d-flex">
      <h2>Welcome to myMarket</h2>
      <p>Plenty of markets to suit your needs</p>
  </div>
</div>


<div class="container-fluid home-header">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header">
      <h1>Some Reviews</h1>
      <p>More Info More Info More Info More Info More Info More Info</p>
      <div class="btn btn-primary">Become a trader</div>
    </div>

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header flex-fill">
        <div class="headcontainer pb-4"></div>
          <img class="img-fluid mx-auto" id="market" src="https://a.cdn-hotels.com/gdcs/production62/d1286/6b53ad20-e42c-11e8-a16b-0242ac110006.jpg" alt="Botanical Bazaar BG">
        <div class="centered text-center px-5 py-4 d-flex"></div>
    </div>

  </div>
</div>


<div class="container-fluid home-header">
  <div class="row">

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header flex-fill">
        <div class="headcontainer pb-4"></div>
          <img class="img-fluid mx-auto" id="market" src="https://www.holidify.com/images/cmsuploads/compressed/Borough_Market_cake_stall2C_London2C_England_-_Oct_2008_20200929181545.jpg" alt="Botanical Bazaar BG">
        <div class="centered text-center px-5 py-4 d-flex"></div>
    </div>


    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header">
      <h1>Some Reviews</h1>
      <p>More Info More Info More Info More Info More Info More Info</p>
      <div class="btn btn-primary">Become a trader</div>
    </div>

  </div>
</div>


<div class="container-fluid home-header">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header">
      <h1>Some Reviews</h1>
      <p>More Info More Info More Info More Info More Info More Info</p>
      <div class="btn btn-primary">Become a trader</div>
    </div>

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 split-header flex-fill">
        <div class="headcontainer pb-4"></div>
          <img class="img-fluid mx-auto" id="market" src="https://www.cktravels.com/wp-content/uploads/2020/09/DSC00868.jpg" alt="Botanical Bazaar BG">
        <div class="centered text-center px-5 py-4 d-flex"></div>
    </div>

  </div>
</div>

<%= render "shared/footer-index" %>
