.simple-calendar {
  table {
    min-height: 60vh;
    background-color: #BDD9BF;
  }

  .today {
    background-color: #F5F5F5;
  }

  .trip {
    background-color: #c4e6c4;
    color: #2B061E; /* Text color for trip.message */
    padding: 8px 24px;
    border-radius: 4px;
    transition: background 0.3s ease;
  }

  .trip:hover {
    background-color: #003E1F; /* Hovered shade of green for date boxes with trip.message */
    color: #F5F5F5; /* Text color for trip.message on hover */
  }

  .profile-calendar {
    margin: 4rem;
  }

  .simple-calendar {
    // position: fixed;
    margin-top: 100px;
  }

}
