.simple-calendar {
  table {
    min-height: 80vh;
    background-color: #e1f5e1;
  }

  .today {
    background-color: #3dc53d;
  }

  .trip {
    background-color: #c4e6c4;
    color: #000000; /* Text color for trip.message */
    padding: 8px 24px;
    border-radius: 4px;
    transition: background 0.3s ease;
  }

  .trip:hover {
    background-color: #a2d8a2; /* Hovered shade of green for date boxes with trip.message */
    color: #000000; /* Text color for trip.message on hover */
  }
}
