.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  cursor: default !important;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 0 !important;
  transform: 0;
  // border-top-right-radius: 10px !important;
  // border-top-left-radius: 10px !important;
  .card-title {
    padding: 0 !important;
    margin:0 !important;
  }
}

.card-footer-popup {
  background-color: rgba(0,61,30, 0.7) !important;
  color:rgba(245, 245, 245, 1);
  display: flex;
  // border-bottom-right-radius: 10px !important;
  // border-bottom-left-radius: 10px !important;
}

.mapboxgl-popup-close-button {
  color: white;
}

.pop-body {
  background-color: white;
}
