.marker {
  background-color: rgb(6, 47, 7); /* Marker background color */
  border: 3px solid white; /* Marker border color */
  border-radius: 50%; /* Marker shape (circle) */
  width: 35px; /* Marker width */
  height: 35px; /* Marker height */
  cursor: pointer;
}
