.marker {
  background-color: #003E1F; /* Marker background color */
  border: 3px solid white; /* Marker border color */
  border-radius: 50%; /* Marker shape (circle) */
  width: 20px; /* Marker width */
  height: 20px; /* Marker height */
  cursor: pointer;
}
