.navbar-home {
  justify-content: space-between;
  background: #F5F5F5;
  z-index: 1;
  position: inherit !important;
  background-color: white;
}

.navbar-home .navbar-collapse {
  flex-grow: 0;
}

#avatar-drop {
  display: inline;
  width: 15px !important;
  color: #003E1F;
  &:hover{
    cursor: pointer;
  }
}

.dropdown-toggle {
  width: 33px;
}

.fa-2xl {
  font-size: 2em !important;
}


.logo {
  max-width: 40px;
  padding-top: 5px;
}

.logo-text {
  align-self: center;
  max-width: 200px;
}
