.navbar {
  justify-content: space-between;
  background: #F5F5F5;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

#avatar-drop {
  display: inline;
  width: 33px !important;
  color: #003E1F;
  &:hover{
    cursor: pointer;
  }
}

.dropdown-toggle {
  width: 33px;
}

.fa-2xl {
  font-size: 2em !important;
}
